doctype html
html
  head
    title= title
    link(rel='stylesheet', href='..public/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery.js')
    script(src='/javascripts/makeOrders.js')
    script(src='/javascripts/deleteOrders.js')
  body
    block content