extends layout

block content
  h1= title

  h2 List of pending orders
  form(action="/orders", method="post", id="completing")
    ul
      each order in pendingOrdersList
        p customer name: #{order.customerName} 
        each ingredient in order.ingredients
          div(class="desiredIngredients")
          |#{ingredient.name}
        p         
        button(name="completedOrder_id", value=order._id)
          |Order completed?